
@{
    ViewData["Title"] = "FirstAjax";
}

<h1>FirstAjax</h1>

@section Scripts{
    <script>
        //console.log(fetch('/api/index'));

        fetch('/api/index')
        .then(Response=>{
            console.log(Response);
            return Response.text(); //text() => 從 response body 中取出promise<文字資料>
           
        })
        .then(data=>console.log(data));
    </script>
}