
@{
    ViewData["Title"] = "FirstAjax";
}

<h1>FirstAjax</h1>
@* <img src="~/images/cat1.jpg" /> *@
@* <img src="/images/cat1.jpg" /> *@
@section Scripts{
    <script>
        //console.log(fetch('/api/index'));

        ///fetch('/api/index')

        // fetch('@Url.Content("~/api/index")')
        // .then(Response=>{
        //     console.log(Response);
        //     return Response.text(); text() => 從 response body 中取出promise<文字資料>
           
        // })
        // .then(data=>{
        //   document.querySelector('h1').innerHTML = data;
        // });

        //IIFE 立即執行函式  
       
        // (()=>{
        //    console.log('IIFE');
        // })();

        (async ()=>{
            const response = await fetch('@Url.Content("~/api/index")');
            console.log(response)
            response.headers.forEach((value, key)=>{
                console.log(`${key}:${value}`)
            })

            if(!response.ok){
              console.log('有錯誤發生');
              return;
            }
            const data = await response.text(); //從body取出文字資料
            document.querySelector('h1').innerHTML = data;        
        })();

       

    </script>
}