
@{
    ViewData["Title"] = "JsonDemo";
}

<h1>JsonDemo</h1>


@section Scripts{
    <script>
        // JSON []、{}
        // 物件
        // const employee = {"name":"Jack","email":"Jack@gmail.com","age":30};
        // 物件.屬性 name、email、age
        // console.log(employee.name);
        // console.log(employee.email);
        // 陣列
        // 陣列[index]，index 從 0 開始
        // const balls = ["basketball","baseball","valleyball"];
        // console.log(balls[0]);
        // console.log(balls[2]);

        const emps = [{"name":"Tom","workYears":3,"salary":35000},
                     {"name":"Jack","workYears":5,"salary":40000},
                     {"name":"Mary","workYears":7,"salary":45000}];
        //emps = []
        //emps[1] => {"name":"Jack","workYears":5,"salary":40000}
        //emps[1] 物件
        //emps[1].name => Jack
        //console.log(emps[1].name);

        //for
        // for (let i = 0, max=emps.length; i < max; i++) {
        //     //console.log(emps[i].name);
        // }

        //for ... in =>  Object {}
        // for(i in emps){
        //    console.log(emps[i]);
        // }
        //for ... of
        // for(emp of emps){
        //    console.log(emp);
        // }

        //Array.forEach();
        emps.forEach(employee =>{  //{"name":"Tom","workYears":3,"salary":35000}
             // console.log(employee.name);
             // console.log(employee.workYears);
             // console.log(employee.salary);
             const {name, workYears, salary} = employee;  //解構賦值
             console.log(name);
             console.log(workYears);
             console.log(salary);
        })

        const emp = {"employees":[
                      {"name":"Tom","workYears":3,"salary":35000},
                      {"name":"Jack","workYears":5,"salary":40000},
                      {"name":"Mary","workYears":7,"salary":45000}
                   ]};

      



    </script>
}
