
@{
    ViewData["Title"] = "JsonDemo";
}

<h1>JsonDemo</h1>


@section Scripts{
    <script>
        //JSON []、{}
        //物件
        const employee = {"name":"Jack","email":"Jack@gmail.com","age":30};
        //物件.屬性 name、email、age
        console.log(employee.name);
        console.log(employee.email);
        //陣列
        //陣列[index]，index 從 0 開始
        const balls = ["basketball","baseball","valleyball"];
        console.log(balls[0]);
        console.log(balls[2]);


    </script>
}
