
@{
    ViewData["Title"] = "JsonDemo";
}

<h1>JsonDemo</h1>


@section Scripts{
    <script>
        //JSON []、{}
        const employee = {"name":"Jack","email":"Jack@gmail.com","age":30};
        console.log(employee.name);
        console.log(employee.email);
        const balls = ["basketball","baseball","valleyball"];
        console.log(balls[0]);
        console.log(balls[2]);


    </script>
}
