
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form id="userForm">
        <div class="mb-3 row">
            <label for="inputName" class="col-sm-2 col-form-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" name="Name">
                <div class="alert alert-warning mt-2" style="display:none">帳號已存在</div>
            </div>
        </div>
        <div class="mb-3 row">
                <label for="inputEmail" class="col-sm-2 col-form-label">電子郵件</label>
            <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" name="Email">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputAge" class="col-sm-2 col-form-label">年紀</label>
            <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputAge" name="Age">
            </div>
        </div>
        <button class="btn btn-primary">註冊</button>
        </form>
    </div>
    <div class="col-3"></div>
</div>


@section Scripts{
    <script>
        const inpName = document.querySelector('#inputName');
        const divAlert = document.querySelector('.alert');
        const btnSubmit = document.querySelector('.btn');

        inpName.addEventListener('blur',async(event)=>{
           // alert(inpName.value);
            const url = `@Url.Content("~/api/checkaccount")?name=${inpName.value}`
            const response = await fetch(url);
            const data = await response.text();
            if(data === "True"){
                divAlert.style.display = "block";
                // divAlert.textContent = "帳號已存在";   
            }else{
                 divAlert.style.display = "none";
             }
           // console.log(url);
        })

        btnSubmit.addEventListener('click', event=>{
          event.preventDefault();
          //const url = `@Url.Content("~/api/checkaccount")?name=${inpName.value}&email=${}&age={}`
          const formData = new FormData(document.querySelector('#userForm'));
          //確定formData有取得資料
          for(const paris of formData.entries()){
            console.log(paris[0],paris[1]);
          }
        })
    </script>

}