
@{
    ViewData["Title"] = "SecondAjax";
}

<h1>SecondAjax</h1>
<button id="buttonStart" class="btn btn-primary">Ajax 開始</button>
<button id="buttonStop" class="btn btn-warning">Ajax 停止</button>
<img src="~/images/Loading.gif" style="display:none" id="img1" />
<div class="alert alert-primary mt-3" id="div1"></div>
@section Scripts{
    <script>
        const btn = document.querySelector('#buttonStart');
        const btnStop = document.querySelector('#buttonStop');
        const divMessage = document.querySelector('#div1');
        const imgLoading = document.querySelector('#img1');
        let abortController;

        btn.addEventListener('click', async(event)=>{
            event.preventDefault();
            try{
                imgLoading.style.display = 'inline'; //顯示Loading圖示
                btn.setAttribute('disabled', 'disabled'); //禁用按鈕

                abortController = new AbortController(); //建立AbortController物件
                const signal = abortController.signal; //取得AbortController的signal屬性

                const url = '@Url.Content("~/api/index")'; //API網址
                const response = await fetch(url,{signal});
                if(!response.ok){
                    throw new Error(`${response.status}`)
                }
                const data = await response.text();
                divMessage.textContent = data;


            }catch(error){
                divMessage.textContent = error.message;
            }finally{
                 imgLoading.style.display = 'none'; //隱藏Loading圖示
                 btn.removeAttribute('disabled'); //啟用按鈕
            }
        })

        btnStop.addEventListener('click',()=>{
            if(abortController){
                abortController.abort(); //中止fetch請求
                divMessage.textContent = '請求已中止';
            }
        })
    </script>
}
