
@{
    ViewData["Title"] = "Spots";
}

<h1>Spots</h1>

<div class="row">
    <div class="col-3">
        <select class="form-select" id="selectPages">
            <option value="6">每頁6筆資料</option>
            <option value="9" selected>每頁9筆資料</option>
            <option value="12">每頁12筆資料</option>
            <option 5value="15">每頁15筆資料</option>          
        </select>
    </div>
    <div class="col-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
    <div class="col-3">
        <select class="form-select" id="selectSort">
            <option value="spotId">景點編號升冪</option>
            <option value="-spotId">景點編號降冪</option>
            <option value="spotTitle">景點名稱升冪</option>
            <option value="-spotTitle">景點名稱降冪</option>
        </select>
    </div>
    <div class="col-3">
        <input type="search" id="inputSearch" class="form-control" />
    </div>
</div>
<div id="div1" class="row row-cols-1 row-cols-md-3 g-4">

</div>

@section Scripts{
    <script>
        const divSpots = document.querySelector('#div1');
        const url = '@Url.Content("~/api/spots")';
         const searchData = {"categoryId":0, "keyword":"北投", "page":3, "pageSize":9, "sortType":"asc", "sortBy":""};

         const loadSports = async()=>{           
          const response = await fetch(url,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(searchData)
            })
           const datas = await response.json()
              const htmlDatas = datas.spotsResult.map(spot => {
                  const {spotId, spotImage,spotTitle,spotDescription,address} = spot
              return `
                   <div class="col">
                    <div class="card">
                         <img src="${spotImage}" alt="${spotTitle}">
                        <div class="card-body">
                             <h5 class="card-title">${spotId} ${spotTitle}</h5>
                            <p class="card-text">${spotDescription.substring(0,100)}...</p>
                        </div>
                        <div class="card-footer">
                             <small class="text-body-secondary">${address}</small>
                        </div>
                    </div>
                </div>
                       `
         })
            divSpots.innerHTML = htmlDatas.join("");

            
            //分頁按鈕
            let str = "";
           for(let i=1,max=datas.totalPages;i<=max;i++){
               str += `<li class="page-item" onclick="paging(${i})"><a class="page-link">${i}</a></li>`
           }

          document.querySelector('.pagination').innerHTML = str;
        }

        loadSports();

        //分頁
        const paging = page =>{
            searchData.page = page;
            loadSports();
        }

        //關鍵字搜尋
         document.querySelector('#inputSearch').addEventListener('keyup', event=>{
            if(event.key === 'Enter'){
                searchData.keyword = event.target.value;
                searchData.page = 1; //回到第一頁
                loadSports();
            }
            
        })

        //排序
        document.querySelector('#selectSort').addEventListener('change', event=>{
            const sort = event.target.value;
            searchData.sortBy = sort.startsWith('-') ? sort.substring(1,sort.length) : sort;
            searchData.sortType = sort.startsWith('-') ? 'desc' : 'asc';
         
            searchData.page = 1; //回到第一頁
            loadSports();
        })

        //每頁幾筆資料
        document.querySelector('#selectPages').addEventListener('change', event=>{
            const pageSize = event.target.value;
            searchData.pageSize = pageSize;
            searchData.page = 1; //回到第一頁
            loadSports();
        })
       
    </script>
}
