
@{
    ViewData["Title"] = "Spots";
}

<h1>Spots</h1>
<nav aria-label="Page navigation example">
    <ul class="pagination">
    </ul>
</nav>
<div id="div1"></div>

@section Scripts{
    <script>

        const divMessage = document.querySelector('#div1');

        (async()=>{
           const searchData = {"categoryId":0, "keyword":"北投", "page":3, "pageSize":9, "sortType":"asc", "sortBy":""};
           const url = "@Url.Content("~/api/spots")"
           const response = await fetch(url,{
                     method: 'POST',
                       headers: {
                           'Content-Type': 'application/json'
                       },
                       body: JSON.stringify(searchData)
                   }) ;
           const datas = await response.json();

           console.log(datas);

           let str = "";
           for(let i=1,max=datas.totalPages;i<=max;i++){
               str += `<li class="page-item"><a class="page-link" href="#">${i}</a></li>`
           }

           document.querySelector('.pagination').innerHTML = str;

               //divMessage.textContent = data;

        })();
        
        // console.log(searchData);
        // console.log(JSON.stringify(searchData));
    
    </script>
}
